#container{
   
    width: 90%;
    /* width: 40vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    border: 0.5px solid black;
}
#input_table{
    
    text-align: center;
    padding-left: 10%;
}
#input_name{
    height: 30px;
    width: 130px;
}
#input_city{
    height: 30px;
    width: 100px;
}
#input_fees{
    height: 30px;
    width: 70px;
}
h2,h3,ol,p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10%;
}
.td1{
    padding-right: 40px;
}
#Add_Save_button{
    background-color: rgb(87, 210, 255);
    /* border: 0.5px solid rgb(116, 116, 249); */
    border: 0px;
    padding: 7px;
    font-size: large;
    border-radius: 6px;
}
#main_table{
    text-align: center;
}
.tdd{
    border: 0.5px solid black;
}
